<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <%= avatar_for @user %>
      <ul>
        <li>
          Fullname: <%= @user.name %>
        </li>
        <li>
          Gender:
          <% if @user.sex %>
            Male
          <% else %>
            Female
          <% end %>
        </li>
        <li>
          Birthday:
          <%= @user.birthday.day %>/
          <%= @user.birthday.month %>/
          <%= @user.birthday.year %>
        </li>
        <li>
          Address: <%= @user.address %>
        </li>
      </ul>
    </section>
  </aside>
</div>
